 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .small-img {
    width: 64px;
  }

  .contact-card{
    height: 130px;
  }

  .banner{
    height: auto;
    width: 100%;
  }